
.active_book_type{
	background-color: #f8d7da;
	border:1px solid red!important;

}
.active_book_type .first{
	color: black;
}

.active_book_type .second{
	color: red;
}
.lst{
	border: 1px solid lightgray ; 
	cursor: pointer;
}
.cssallview:hover
{
	color:black!important;
}

.active{
	background-color:lightgray;
	border-radius:5px;
}